<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:fed="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	  xmlns:videoportal="http://typo3.org/ns/Jro/Videoportal/ViewHelpers"
>
<link href="{f:uri.resource(path:'CSS/tx_videoportal_category_frontend.css')}" rel="stylesheet" />
<link href="{f:uri.resource(path:'CSS/tx_videoportal.css')}" rel="stylesheet" />
<link href="{f:uri.resource(path:'CSS/tx_videoportal_frontend.css')}" rel="stylesheet" />


<videoportal:counter reset="true" />

<table><tr><td valign="top" align="left">
<div style="width: 750px; overflow: auto;">
	<p style="margin: 0px;" id="headerQA"><b>Video Questions and Answers</b></p>
	<f:if condition="{comments -> f:count()} == 0">
		<f:then>	No video questions and answers found!</f:then>
		<f:else>
				
		<videoportal:counter reset="true" />
<f:render section="commentList" arguments="{comments: comments, video: video}" />

<div style="clear: both;"></div>

			</f:else>
			
			</f:if>


<f:section name="commentList">
	<f:if condition="{videoportal:counter()} == 0" >
		<f:then>
	<ul class="commentTreeUl" style="padding-left: 0px; margin-top: 0px;">
		</f:then>
		<f:else>
			<ul class="commentTreeUl" style="">
		</f:else>
	</f:if>
	<f:for each="{comments}" as="comment" iteration="i">	
		<li class="commentTreeLi" style="" >
		
			<div id="marker{comment.uid}"></div>
			<div class="commentTreeDiv" style="clear: both;font-family: Arial;font-size: 13px;font-weight: bold;font-style: normal;text-decoration: none; color: #009DE0;">
				{videoportal:showCommentUser(comment_uid:'{comment.uid}')}, <f:format.date format="d.m.Y - H:i:s">{comment.crdate}</f:format.date>
			</div>
			<div class="commentTreeDiv" style="clear: both;">
			<div class="expandable" style="margin-right: 10px;"><f:format.nl2br>{comment.text}</f:format.nl2br></div>
			<!--<f:link.action action="edit" controller="FrontendComment" arguments="{comment: comment}" >Edit</f:link.action>-->
			<f:if condition="{comment.childs}">
			<f:then>
			<!--<f:link.action onclick="javascript: if(confirmDelete('Are you sure you want to delete the comment and all child') return true; else return false;" action="delete" controller="FrontendComment" arguments="{comment: comment}" >Delete</f:link.action>-->
			</f:then>
			<f:else>
			<!--<f:link.action onclick="javascript: if(confirmDelete('Are you sure you want to delete the comment') return true; else return false;" action="delete" controller="FrontendComment" arguments="{comment: comment}" >Delete</f:link.action>-->
			</f:else>
			</f:if>
			</div>
			
			<f:if condition="{videoportal:isLoggedIn()} == 1">
			
			<div class="commentTreeDiv" style="margin-right: 8px; clear: both; color:  #999999;">
			<f:link.action style="color:  #999999;" action="new" controller="FrontendComment" arguments="{parentCommentUid: comment.uid, video: video}" >Answer</f:link.action>
			</div>
			</f:if>
			
			<f:if condition="{comment.childs}">
			<f:then>
				<f:if condition="{videoportal:isLoggedIn()} == 0">
					<div style="clear:both;"></div>
				</f:if>
			<div class="commentTreeDiv" style="margin-right: 8px; color:  #999999;">
			<a style="color:  #999999;" id="hide{comment.uid}" href="#headerQA" class="commentTreeExpand" >Hide answers(<f:count subject="{comment.childs}" />)</a>

			<a style="color:  #999999;" href="#headerQA" class="commentTreeCollapse" >Show answers(<f:count subject="{comment.childs}" />)</a>

			</div>
			</f:then>
			<f:else>

			</f:else>
			</f:if>
			
			<f:if condition="{videoportal:isLoggedIn()} == 1">
			<div class="commentTreeDiv" style="color:  #999999;">
					<f:link.action style="color:  #999999;" controller="FrontendComment" action="switchObserveStatus" arguments="{comment: comment, video: video}">
						<f:if condition="{videoportal:isObserveComment(commentUid:'{comment.uid}')} == 1" ><f:then>Don't observe</f:then><f:else>Observe</f:else></f:if>
					</f:link.action>
			</div>
			</f:if>
			
			<f:if condition="{comment.childs}">
			<f:render section="commentList" arguments="{comments: comment.childs, video: video}" />
			</f:if>
		</li>
		
		
			
		
		<f:if condition="{i.isLast}" >	

			</ul>
			
		</f:if>
			
	</f:for>
	
	
</f:section>

</div>
</td>
</tr><tr colspan="3">
	<td colspan="3" style="width: 100%;"><div class="Line"></div></td>
</tr><tr>
<td valign="top" align="left" >
		<p style="margin: 0px;"><b>Create Question</b></p>
		<f:if condition="{videoportal:isLoggedIn()} == 1">
		<f:then>
<f:form action="create" controller="FrontendComment" additionalParams="{tx_videoportal_video: {jumpToTab: 'videoTabPaneQA'}}" arguments="{video: video}" enctype="multipart/form-data"  name="newComment" object="{newComment}">
<f:render partial="FrontendComment/FormFields" arguments="{files: files}"/>
	<f:form.submit value="Create new" />
		
</f:form>
		</f:then>
	<f:else>
		Please log in to create a Video Question!	
	</f:else>
</f:if>
</td>
</tr>


</table>

</html>