<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:fed="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:videoportal="http://typo3.org/ns/Jro/Videoportal/ViewHelpers"
>
<table id="tableCommentProperties">
    <tr>
        <th>Property</th>
        <th>Value</th>
    </tr>

    <tr>
        <td>User</td>
        <td>{videoportal:showCommentUser(comment_uid:'{comment.uid}')}
        </td>
    </tr>

    <tr>
        <td>
            <f:translate
                    key="tx_videoportal_domain_model_comment.comment"/>
        </td>
        <td>
            <f:format.nl2br>{comment.text}</f:format.nl2br>
        </td>
    </tr>
    <tr>
        <td>
            <f:translate
                    key="tx_videoportal_domain_model_comment.status"/>
        </td>
        <td>
            <f:if condition="{comment.hidden}">
                <f:then>
                    hidden
                </f:then>
                <f:else>
                    visible
                </f:else>
            </f:if>
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_videoportal_domain_model_comment.time"/>
        </td>
        <td>
            <f:format.date format="d.m.y">{comment.crdate}</f:format.date>
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_videoportal_domain_model_file.file"/>
        </td>
        <td>
            <f:if condition="{comment.files -> f:count()} == 0">
                no files
            </f:if>
            <f:for each="{comment.files}" as="t" iteration="i">
                <f:if condition="{i.isLast}">
                    <f:then>
                        {t.originalResource.originalFile.name}
                    </f:then>
                    <f:else>
                        {t.originalResource.originalFile.name}<br>
                    </f:else>
                </f:if>
            </f:for>
        </td>
    </tr>
</table>
</html>