<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:fed="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:videoportal="http://typo3.org/ns/Jro/Videoportal/ViewHelpers"
>

<videoportal:counter reset="true"/>
<table>
    <tr>
        <td width="300"><label class="formTitle" for="title">
            <f:translate
                    key="tx_videoportal_domain_model_category.title"/>
            <span
                    class="formRequired">(required)</span>
        </label> <br/>
            <f:form.textfield property="title"/>
            <br/> <br/> <label
                    class="formTitle" for="description">
                <f:translate
                        key="tx_videoportal_domain_model_category.description"/>
            </label> <br/>
            <f:form.textarea property="description" cols="40" rows="15"/>

            <br/> <br/> <label class="formTitle" for="status">
                <f:translate
                        key="tx_videoportal_domain_model_category.status"/>
            </label> <br/>
            <f:form.checkbox property="hidden" value="1"/>
            <br/> <br/>

        </td>

        <td>
            <f:form.hidden name="pids[]" value="{pids}"/>
            <label
                    class="formTitle" for="parent">
                <f:translate
                        key="tx_videoportal_domain_model_category.parent"/>
            </label><br/>
            <f:if condition="{categories}">
                <f:then>
                </f:then>
                <f:else>
                    <div class="catsTreeFont" style="margin-top: 10px;">
                        <f:translate key="tx_videoportal_domain_model_category.no_cats"/>
                    </div>
                </f:else>
            </f:if>
            <f:render section="categoryList"
                      arguments="{categories: categories, pids: pids, cat: cat}"/>
            <f:section
                    name="categoryList">

                <ul class="catsTreeUl catsTreeFont">

                    <f:for
                            each="{categories -> fed:iterator.sort(sortBy: 'title')}"
                            as="current_cat">
                        <li class="catsTreeLi">
                            <f:if condition="{current_cat.parent}">
                                <div class="catsTreeDiv">
                                    <f:image alt="" class="catsTreeExpand"
                                             src="EXT:videoportal/Resources/Public/Image/Minus.png"/>
                                    <f:image alt="" class="catsTreeCollapse"
                                             src="EXT:videoportal/Resources/Public/Image/Plus.png"/>
                                </div>
                            </f:if>
                            <div class="catsTreeDiv">{current_cat.title}(ID:
                                {current_cat.uid})
                            </div>

                            <div class="catsTreeDiv">

                                <f:form.checkbox name="pids[{videoportal:counter()}]"
                                                 value="{current_cat.uid}"
                                                 disabled="{videoportal:disableCheckbox(cat_id:'{current_cat.uid}',childs:'{cat}')}"
                                                 checked="{videoportal:checkedCheckbox(pids:'{pids}',pid:'{current_cat.uid}')}"/>
                            </div>
                            <f:if condition="{current_cat.parent}">
                                <f:render section="categoryList"
                                          arguments="{categories: current_cat.parent, pids : pids, cat: cat}"/>
                            </f:if>
                        </li>
                    </f:for>
                </ul>


            </f:section>
        </td>

        <br/>
    </tr>
</table>
</html>