<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:fed="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:videoportal="http://typo3.org/ns/Jro/Videoportal/ViewHelpers"
>
<f:layout name="Default"/>

This template displays a NEW form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
New.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder
<f:section name="content">


    <f:flashMessages/>

    <f:render partial="FormErrors"/>
    <h1 class="h1" style="font-size: 15px; margin-bottom: 5px; text-align: left;">Question</h1>
    <p align="left;">
        <f:format.nl2br>{videoportal:showCommentText(comment_uid:'{parentCommentUid}')}</f:format.nl2br>
    </p>
    <br>
    <h1 class="h1" style="font-size: 15px; margin-bottom: 5px; text-align: left;">Answer</h1>
    <f:form action="create" enctype="multipart/form-data" name="newComment" object="{newComment}">
        <f:render partial="Comment/FormFields" arguments="{files: files, parentCommentUid: parentCommentUid}"/>

        <f:form.hidden name="parentCommentUid" value="{parentCommentUid}"/>
        <f:form.submit value="Create new"/>
        <f:if condition="{video}">

            <f:form.hidden name="video" value="{video}"/>
        </f:if>
    </f:form>
</f:section>
</html>