#menuContainer a  {
  font-family: Arial;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #151515;
}

#menuContainer ul {
	list-style: square;
	margin-left: 20px;
}

#menuContainer li {
	margin-bottom:7px;
	margin-top: 7px;
}


#menuContainer a:hover{
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	color: rgb(0, 157, 224);
}

.linkActive{
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	color: rgb(0, 157, 224);
	display: block;
}

.Line{
	width: 100%;
	background-repeat: repeat-x;
	height: 2px;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #BDBDBD;
}

.menuContainer{
	background-color: #F2F2F2;
	border: 1px solid #BDBDBD;
	min-height: 70px;
	width: 200px;
	margin-top: 20px;
	margin-bottom: 20px;
}
