<f:be.container
        includeCssFiles="{0: '{f:uri.resource(path:\'CSS/tx_videoportal.css\')}'}"
>
    <script type="text/javascript"
            src="{f:uri.resource(path:'Javascript/catsTree.js')}"></script>
    <script type="text/javascript"
            src="{f:uri.resource(path:'Javascript/ajaxCalls.js')}"></script>
    <script type="text/javascript"
            src="{f:uri.resource(path:'Javascript/deleteConfirm.js')}"></script>
    <div class="typo3-fullDoc">
        <div id="typo3-docheader">
            <div id="typo3-docheader-row1">
                <div class="buttonsleft"></div>
                <div class="buttonsright">
                    <f:be.buttons.shortcut/>
                </div>
            </div>
            <div id="typo3-docheader-row2">
                <div class="docheader-row2-left">
                    <f:be.buttons.csh/>
                    <f:be.menus.actionMenu>
                        <f:be.menus.actionMenuItem label="Overview" controller=""
                                                   action="list"/>
                        <f:be.menus.actionMenuItem label="Create new Category"
                                                   action="new" controller="Category"/>
                        <f:be.menus.actionMenuItem label="Create new Video" action="new"
                                                   controller="Video"/>
                    </f:be.menus.actionMenu>
                </div>
                <div class="docheader-row2-right">
                    <f:be.pagePath/>
                    <f:be.pageInfo/>
                </div>
            </div>
        </div>
        <div id="typo3-docbody">
            <div id="typo3-inner-docbody">
                <link
                        href="{f:uri.resource(path:'CSS/tx_videoportal_header_backend.css')}"
                        rel="stylesheet"/>

                <f:render partial="BackendHeader"/>
                <f:flashMessages />
                <f:render section="content"/>
            </div>
        </div>
    </div>
</f:be.container>
